<div class="form-container">

    <!-- Example of two way data binding with a simple form -->

    <h2>Simple Form</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="ts_name"
          name="name"
          required          
        >
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
            type="email" 
            id="email" 
            [(ngModel)]="ts_email" 
            name="email"
            required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea 
            id="message" 
            rows="4" 
            [(ngModel)]="ts_message" 
            name="message"
            required></textarea>
      </div>
      <button type="button" (click)="onSubmit()">Submit</button>
    </form>
  
    <!-- 
    <table *ngIf="isSubmitted">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of ts_messages;let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ message.name }}</td>
          <td>{{ message.email }}</td>
          <td>{{ message.message }}</td>
        </tr>
        </tbody>
    </table>
    -->

    <!-- Displaying the messages in a flex container as cards, instead of a table like above -->
    <div class="flex-container" *ngIf="isSubmitted">
        <!-- Using ngFor directly in the component -->
        <app-message-details
          *ngFor="let message of ts_messages;let i = index"
          [md_message]="message"
          [md_index]="i"
          (md_delete)="deleteMessage($event)"
        ></app-message-details>
    </div>

  </div>